*{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    position: absolute;
    text-align: center;
    width: 100%;
}


nav{
    width: 100%;
    display: flex;
    color: brown;
    top: 5px;
    left: 0px;
    padding: 20px  8%;
    justify-content: space-between;
    bottom: 40px;
    background-color: black;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 250px;
}

nav ul li a{
    text-decoration: none;
    font-size: 17.5px;
    color: wheat;
    border: 2px solid gold;
    border-radius: 5px;
}

nav ul li a:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.profile{
    align-content: center;
    margin-bottom: 20px;
    clip-path: circle();
}

main{
    margin-top: 80px;
    color: aqua;
}

main .content{
    color: aqua;
}

.connect{
    color: white;
    margin: 20px 0 20px 0;
    font-size: 30px;
}

.connect a{
    color: white;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 50px;
    text-decoration: none;
}

.connect a:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.footer{
    margin-top: 20px;
    margin-bottom: 0%;
}

.footer p{
    color: white;
}

.footer h4{
    color: brown;
}