*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: black;
}

.about{
    color: chartreuse;
    text-align: center;
    margin-top: 300px;
}